/* without this the browser would add default margin and padding amounts to all elements
it was inconsistent between browsers */
* {
  margin: 0;
  padding: 0;
}
h1 {
    padding: 20px;
    padding-left: 28px;
    padding-top: 28px;
    padding-bottom: 28px;
}
h2 {
    padding-left: 28px;
    padding-bottom: 16px;
}
p {
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 16px;
    line-height: 1.2;
}
body {
  font-family: Helvetica, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: bold;
}
.topnav {
  background-color: #34baff;
}

.topnav::after {
  content: "";
  display: table;
  clear: both;
}
.topnav a {
  float: left;
  display: block;
  color: #002142;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s;
}
.topnav a:hover {
    background-color: #002142;
    color: #34baff;
}





/* DROPDOWN STUFF */



.dropdown {
  float: left;
  overflow: visible;
  position: relative;
}

.dropdown .dropdown_button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #34baff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #002142;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: color 0.5s, background-color 0.5s;
}

.dropdown-content a:hover {
  background-color: #002142;
  color: #34baff;
}

.dropdown:hover .dropdown-content {
  display: block;
}




/* MOBILE RESIZINGGGGG */


@media screen and (max-width: 1000px) {
  body > a {
    display: block;
    text-align: center;
  }

  body > a img {
    display: inline-block;
    max-width: 80%;
    height: auto;
  }

  .topnav a {
    float: none !important;
    display: block;
    text-align: center;
    width: 100%;
  }

  .dropdown {
    float: none !important;
    width: 100%;
  }

  .dropdown .dropbtn {
    width: 100%;
    text-align: center;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
  }

  .dropdown-content a {
    text-align: center;
  }

  .column.left,
  .column.right {
    float: none !important;
    width: 100% !important;
    display: block;
  }
}

.column {
    background-color:#f1f1f1;
    box-sizing: border-box;
}
.column.left {
    float: left;
    width: 50%;
}

.column.right {
    float: left;
	width: 50%;
}

.clickable_text {
    font-weight: normal;
    color:#2d7fa9;
    font-style: italic;
    text-decoration: underline;
}

.image_placeholder {
    padding-left: 10%;
}

.footer {
  padding: 20px;
  text-align: right;
  background: #ddd;
  margin-top: 20px;
  clear: both;
}

.footer p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

