* {
  margin: 0;
  padding: 0;
}
h1 {
    padding: 20px;
    padding-left: 28px;
    padding-top: 28px;
    padding-bottom: 28px;
}
h2 {
    padding-left: 28px;
    padding-bottom: 16px;
}
p {
    padding-left: 28px;
    padding-bottom: 16px;
}
body {
  font-family: Helvetica, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: bold;
}
.topnav {
  overflow: hidden;
  background-color: #34baff;
}
.topnav a {
  float: left;
  display: block;
  color: #002142;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s;
}
.topnav a:hover {
    background-color: #002142;
    color: #34baff;
}

/* Mobile responsive styles */
@media screen and (max-width: 1000px) {
  body > a {
    display: block;
    text-align: center;
  }

  body > a img {
    display: inline-block;
    max-width: 80%;
    height: auto;
  }

  .topnav a {
    float: none !important;
    display: block;
    text-align: center;
    width: 100%;
  }
}

.column {
    background-color:#f1f1f1;
    box-sizing: border-box;
}
.column.left {
    float: left;
    width: 40%;
}

.column.right {
    float: left;
	width: 60%;
}

.clickable_text {
    font-weight: normal;
    color:#2d7fa9;
    font-style: italic;
    text-decoration: underline;
}

.image_placeholder {
    padding-left: 10%;
}